Python Hackathon 2025 : question 33 to 48

In [7]:
#import the CSv file
!pip install pandas

Requirement already satisfied: pandas in c:\users\itsma\new folder\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\itsma\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\itsma\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
test_m = pd.read_csv('test_measure.csv')

In [15]:
subject_i = pd.read_csv('subject-info.csv')

In [59]:
test_m.head()

   time  Speed    HR    VO2   VCO2  RR    VE ID_test  ID
0     0    5.0  63.0  478.0  360.0  27  13.3     2_1   2
1     2    5.0  75.0  401.0  295.0  23  10.3     2_1   2
2     4    5.0  82.0  449.0  319.0  29  12.2     2_1   2
3     7    5.0  87.0  461.0  340.0  28  12.8     2_1   2
4     9    5.0  92.0  574.0  417.0  28  14.6     2_1   2

In [21]:
subject_i.head()

    Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0  10.8    48.8   163.0      39.0         20.7    1  543   543_1
1  11.8    41.0   150.0      41.0         22.3    1   11    11_1
2  12.2    46.0   160.0      37.0         21.5    0  829   829_1
3  13.2    71.0   190.0      49.0         23.8    1  284   284_1
4  13.7    53.8   169.7      40.0         25.3    0  341   341_1

Question:33.

Question:34.Create an array, np.arrange.reshape(3,4). Replace the array elements with their square values if the element is an even Number.
            Keep the odd numbers as such. Displaying the resulting array.

Question:35. Read 10 records from dataframe and convert into Json format and print the data

In [37]:
# Get the first 10 records of the patient record from the subject-info
subject_10_records=subject_i.head(10) 
# convert into Json
subject_son=subject_10_records.to_json(orient='records',lines=True)
# print the data
print(subject_json)

{"Age":10.8,"Weight":48.8,"Height":163.0,"Humidity":39.0,"Temperature":20.7,"Sex":1,"ID":543,"ID_test":"543_1"}
{"Age":11.8,"Weight":41.0,"Height":150.0,"Humidity":41.0,"Temperature":22.3,"Sex":1,"ID":11,"ID_test":"11_1"}
{"Age":12.2,"Weight":46.0,"Height":160.0,"Humidity":37.0,"Temperature":21.5,"Sex":0,"ID":829,"ID_test":"829_1"}
{"Age":13.2,"Weight":71.0,"Height":190.0,"Humidity":49.0,"Temperature":23.8,"Sex":1,"ID":284,"ID_test":"284_1"}
{"Age":13.7,"Weight":53.8,"Height":169.7,"Humidity":40.0,"Temperature":25.3,"Sex":0,"ID":341,"ID_test":"341_1"}
{"Age":13.8,"Weight":53.4,"Height":171.0,"Humidity":42.0,"Temperature":24.4,"Sex":0,"ID":341,"ID_test":"341_2"}
{"Age":14.0,"Weight":46.0,"Height":160.0,"Humidity":40.0,"Temperature":25.3,"Sex":0,"ID":343,"ID_test":"343_1"}
{"Age":14.1,"Weight":50.0,"Height":168.9,"Humidity":42.0,"Temperature":24.2,"Sex":0,"ID":330,"ID_test":"330_1"}
{"Age":14.1,"Weight":47.2,"Height":160.2,"Humidity":40.0,"Temperature":25.2,"Sex":0,"ID":338,"ID_test":"338_1"}
{"Age":14.1,"Weight":49.7,"Height":160.1,"Humidity":40.0,"Temperature":25.8,"Sex":0,"ID":339,"ID_test":"339_1"}

Question:36

Question:37. Who is the youngest athlete and how many tests did she take part in?

In [94]:

#  Find the youngest athlete (the one with the minimum age)
youngest_athlete = subject_i.loc[subject_i['Age'].idxmin()]


# Get the athlete ID,Age and ID_test
youngest_athlete_id = youngest_athlete['ID']
youngest_athlete_age = youngest_athlete['Age']
youngest_athlete_test_id = youngest_athlete['ID_test']


youngest_tests = test_m[test_m['ID_test'] == youngest_athlete_test_id]

num_tests = len(youngest_tests)

# Print the result
print(f"The youngest athlete ID is  {youngest_athlete_id} and her age is {youngest_athlete_age} is and she took part in {num_tests} tests.")

The youngest athlete ID is  543 and her age is 10.8 is and she took part in 676 tests.

Question:38

Question:39

Question:40. Identify the test that took the longest time to complete

In [96]:
# Step 4: Find the test that took the longest time to complete
longest_test = test_m.loc[test_m['time'].idxmax()]

# Step 5: Output the result (test ID, and the longest time)
test_id = longest_test['ID_test']
time_taken = longest_test['time']
print(f"The test with the longest time is Test ID {test_id}, with a time of {time_taken} units.")

The test with the longest time is Test ID 699_1, with a time of 1712 units.

Question:41

Question:42

Question:43

Question:44

Question:45

Question:46

Question:47. Assuming age is given for the current year (2025), list the partcipants born on leap year?

In [37]:
# Calculate birth year assuming age given for the current year (2025)
subject_i['birth_year'] = 2025 - subject_i['Age']

 #  Function to check for leap year
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# Filtering the  participants born in a leap year
leap_year_participants = subject_i[subject_i['birth_year'].apply(is_leap_year)]

# Display the result
print(leap_year_participants[['ID', 'Age', 'birth_year']])

      ID  Age  birth_year
3    284   13        2012
4    341   13        2012
5    341   13        2012
113  177   17        2008
114  303   17        2008
..   ...  ...         ...
977  653   53        1972
978  756   53        1972
984  389   57        1968
989  390   61        1964
990  596   61        1964

[252 rows x 3 columns]

In [ ]:
Question:48