Python Hackathon 2025 : question 33 to 48

In [5]:
#import the CSv file
!pip install pandas

Requirement already satisfied: pandas in c:\users\itsma\new folder\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\itsma\new folder\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\itsma\new folder\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\itsma\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
test_m = pd.read_csv('test_measure.csv')

In [15]:
subject_i = pd.read_csv('subject-info.csv')

In [23]:
test_m.head()

   time  Speed    HR    VO2   VCO2  RR    VE ID_test  ID
0     0    5.0  63.0  478.0  360.0  27  13.3     2_1   2
1     2    5.0  75.0  401.0  295.0  23  10.3     2_1   2
2     4    5.0  82.0  449.0  319.0  29  12.2     2_1   2
3     7    5.0  87.0  461.0  340.0  28  12.8     2_1   2
4     9    5.0  92.0  574.0  417.0  28  14.6     2_1   2

In [21]:
subject_i.head()

    Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0  10.8    48.8   163.0      39.0         20.7    1  543   543_1
1  11.8    41.0   150.0      41.0         22.3    1   11    11_1
2  12.2    46.0   160.0      37.0         21.5    0  829   829_1
3  13.2    71.0   190.0      49.0         23.8    1  284   284_1
4  13.7    53.8   169.7      40.0         25.3    0  341   341_1

Question:35. Read 10 records from dataframe and convert into Json format and print the data